@{
    ViewData["Title"] = "Kayit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model NeSever.Common.Models.Sayfa.BannerKayitVM
<div class="d-flex flex-row flex-column-fluid container">
    <div class="main d-flex flex-column flex-row-fluid">
        <div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
            <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <h5 class="text-dark font-weight-bold my-1 mr-5">Banner Kayıt</h5>

                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                            <li class="breadcrumb-item">
                                <a href="/Admin/Icerik" class="text-muted">İçerik</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="Admin/Banner" class="text-muted">Blog</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/Admin/Banner/Kayit" class="text-muted">Kayit</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <a href="#" class="btn btn-icon btn-circle btn-sm btn-light-success mr-1" data-card-tool="reload" onclick="loadPage()">
                        <i class="ki ki-reload icon-nm"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="content flex-column-fluid" id="kt_content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-custom gutter-b example example-compact">
                        <div class="card-header">
                            <h3 class="card-title">Kayıt Alanları</h3>
                            <div class="card-toolbar">
                                <div class="example-tools justify-content-center">
                                    <span class="example-copy" data-toggle="tooltip" title="" style="visibility:hidden"></span>
                                </div>
                            </div>
                        </div>
                        <form id="_form" method="post" enctype="multipart/form-data">
                            <input id="hdnBannerId" type="hidden" value="@Model.BannerId" />
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label><span class="text-danger">* </span>Banner Tipi:</label>
                                        <div class="input-group">
                                            <select asp-for="BannerTipId" asp-items="@(new SelectList(Model.BannerTipleri,"BannerTipId","Adi"))" class="form-control selectpicker"></select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label><span class="text-danger">* </span>Adı:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" asp-for="Adi" />
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-bookmark-o"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                            <label>Aciklama 1:</label>
                                            <div class="input-group">
                                                <textarea id="Aciklama1" asp-for="Aciklama1"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <label>Açıklama 2:</label>
                                            <div class="input-group">
                                                <textarea id="Aciklama2" asp-for="Aciklama2"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label>Link:</label>
                                        <div class="input-group">
                                            <input type="url" class="form-control" placeholder="" asp-for="Link" />
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Sıra:</label>
                                        <div class="input-group">
                                            <input class="form-control" type="number"  asp-for="Sira" placeholder="0" >
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-sort-numeric-down"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Aktif Mi?:</label>
                                        <div class="input-group">
                                            <input asp-for="AktifMi" data-switch="true" type="checkbox"  data-on-color="success" data-off-color="danger" data-on-text="Evet" data-off-text="Hayır" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail" style="height: 100px; float:left;max-height:300px;max-width:300px" id="fileInputDiv">

                                                @if (string.IsNullOrEmpty(Model.ResimBase64))
                                                {
                                                    <img src="~/Themes/Admin/design/noimage.png" id="emptyFile" style="max-height:200px;max-width:150px" />
                                                }
                                                else
                                                {
                                               
                                                    {<ul>
                                                            <li>
                                                                <img style="max-height:200px;max-width:150px" src="data:image/png;base64,@Model.ResimBase64" />
                                                            </li>
                                                      </ul>
                                                    }
                                                }
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail" style=" max-height: 200px;float:left"> </div>
                                            <div style="float:left">
                                                <span class="btn default btn-file">

                                                    <input id="file" name="file" type="file">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-lg-6">
                                        @if (Model.BannerId > 0)
                                        {
                                            <button id="btnGuncelle" type="submit" class="btn btn-success mr-2">Güncelle</button>
                                        }
                                        else
                                        {
                                            <button id="btnKaydet" type="submit" class="btn btn-primary mr-2">Kaydet</button>
                                        }
                                        <button type="button" class="btn btn-secondary" onclick='location.reload();'>İptal</button>

                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Themes/Admin/dist/assets/plugins/custom/ckeditor/ckeditor-classic.bundle.js?v=7.0.5"></script>
    <script src="/Themes/Admin/dist/assets/js/pages/crud/forms/widgets/bootstrap-switch.js?v=7.0.5"></script>
    <script src="/Themes/Admin/dist/assets/js/pages/crud/forms/widgets/bootstrap-datepicker.js?v=7.0.5"></script>
    <script type="text/javascript">
        FormValidation.formValidation(document.getElementById('_form'),
            {
                fields: {
                    Adi: {
                        validators: {
                            notEmpty: {
                                message: 'Zorunlu Alan.'
                            },
                        }
                    },
                    BannerTipId: {
                        validators: {
                            notEmpty: {
                                message: 'Zorunlu Alan.'
                            },
                        }
                    },
                    Sira: {
                        validators: {
                            notEmpty: {
                                message: 'Zorunlu Alan.'
                            },
                        }
                    },
                },
                plugins: {
                    submitButton: new FormValidation.plugins.SubmitButton(),
                    bootstrap: new FormValidation.plugins.Bootstrap({
                        eleInvalidClass: '',
                        eleValidClass: '',
                    })
                }
            }).on('core.form.valid', function () {
                var data = new FormData($('#_form')[0]);
                var totalFiles = document.getElementById("file").files.length;
                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("file").files[i];
                    data.append('Resim', file);
                }
                data.append('BannerId', $('#hdnBannerId').val());
                data.append('AktifMi', $('#AktifMi').prop('checked'));
                data.append('Aciklama1Content', Aciklama1.getData());
                data.append('Aciklama2Content', Aciklama2.getData());
                $.ajax({
                    type: "post",
                    url: "/Admin/Banner/Kayit",
                    data: data,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        showLoading('_form');
                    },
                    success: function (result) {
                        hideLoading('_form');

                     
                            if (result.id > 0) {
                                $('#hdnBannerId').val(result.id);

                                if (result.operation == "insert") {
                                    $("#btnKaydet").removeClass('btn-primary');
                                    $("#btnKaydet").addClass('btn-success');
                                    $("#btnKaydet").html('Güncelle');
                                    window.history.pushState("","", "Kayit/"+ result.id);
                                }

                                Swal.fire({
                                    icon: 'success',
                                    title: 'İşlem Başarılı!',
                                    text: '',
                                    showCloseButton: true,
                                    confirmButtonText: "Tamam",
                                    cancelButtonText: "İptal",
                                });
                            }
                            else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'İşlem Sırasında Hata Oluştu!',
                                    text: '',
                                    showCloseButton: true,
                                    confirmButtonText: "Tamam",
                                    cancelButtonText: "İptal",
                                });
                            }
                        },
                  
                    error: function (err) {
                        hideLoading('_form');

                        Swal.fire(
                            "Hata",
                            "İşlem sırasında hata oluştu. " + err,
                            "error"
                        )
                    }
                });
            });

        var KTCkeditor1 = function () {
            //Private functions
            var demos = function () {
                ClassicEditor
                    .create(document.querySelector('#Aciklama1'))
                    .then(editor => {
                        Aciklama1 = editor;
                    })

            }

            return {
                // public functions
                init: function () {
                    demos();
                }
            };
        }();
        var KTCkeditor2 = function () {
            // Private functions
            var demos = function () {
                ClassicEditor

                    .create(document.querySelector('#Aciklama2'))
                    .then(editor => {
                        Aciklama2 = editor;
                    })

            }

            return {
                // public functions
                init: function () {
                    demos();
                }
            };
        }();
        function showLoading(id) {
            KTApp.block(document.getElementById(id), {
                overlayColor: '#000000',
                state: 'danger',
                message: 'Lütfen bekleyin...'
            });
        };
        function hideLoading(id) {
            KTApp.unblock(document.getElementById(id));
        };
        function readURL(input) {
            $('#emptyFile').remove();
            $('#fileInputDiv').empty();
            $('#fileInputDiv').append('<ul style="list-style-type:circle"');
            for (var i = 0; i < input.files.length; i++) {
                if (input.files[i] && input.files[i]) {
                    var reader = new FileReader();
                    var reader = new FileReader();
                    reader.onload = function (e) {

                        $('#fileInputDiv').append('<li><img  style="max-height:200px;max-width:150px" src="' + e.target.result + '"></img></li>');
                    }
                    reader.readAsDataURL(input.files[i]);
                }

            }
            $('#fileInputDiv').append('</ul');
        }
        $("#file").change(function () {
            readURL(this);
        });
        function loadPage() {
            location.reload();
        }
        jQuery(document).ready(function () {         
            KTCkeditor1.init();
            KTCkeditor2.init();
        })
    </script>
}