@model NeSever.Common.Models.Uyelik.ArkadasListesiSayfaSonuc

<div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="ui-block responsive-flex">
            <div class="ui-block-title">
                <div class="h6 title">Arkadaşlar</div>
                @*<form class="w-search">
                    <div class="form-group with-button is-empty">
                        <input id="q" name="q" class="form-control" type="text" placeholder="Arkadaş Filtrele..." value="@(Context.Request.Query["q"])">
                        <button>
                            <svg class="olymp-magnifying-glass-icon"><use xlink:href="#olymp-magnifying-glass-icon"></use></svg>
                        </button>
                        <span class="material-input"></span>
                    </div>
                </form>*@
            </div>
        </div>
    </div>
</div>

<div class="container">
    <partial name="~/Views/Kullanici/Partials/ArkadasListesiAraSonuc.cshtml" model="@Model.ArkadasListSonuc" />
</div>

@section Scripts{
    <script type="text/javascript">
        function ara() {
            var q = $('#q').val();
            var location = "/Kullanici/ArkadasListesi/" + "?" + (q == "" || q == '' || q == null ? "" : ("&q=" + q));
            window.location = location;
        }

        $(function () {
            $('.').on('click', 'a', function () {
                $.ajax({
                    url: this.href,
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        var middleContent = $('#middleContent');
                        middleContent.html('');
                        $('#middleContent').html(result);
                    }
                });
                return false;
            });
        });
    </script>
}

<script src="/Themes/FrontEnd/src/js/libs-init/libs-init.js"></script>
<script type="text/javascript">
    function showLoading() {
        $('#middleContent').loadingModal({ text: 'Lütfen Bekleyin...' });
        $('#middleContent').loadingModal('animation', 'cubeGrid');
    };

    function hideLoading(id) {
        $('#middleContent').loadingModal('destroy');
    };
</script>


