@model NeSever.Common.Models.Uyelik.KullaniciResimVM

<div class="modal fade modal-has-swiper" id="buyuk-profile-photo" tabindex="-1" role="dialog" aria-labelledby="open-photo-popup-v1" aria-hidden="true">
    <div class="modal-dialog window-popup open-photo-popup open-photo-popup-v1" role="document" style="pointer-events:none;">
        @if (Model != null && Model.BuyukProfilFotografiMi == true)
        {
            <div class="" style="margin:auto;">
                <div class="modal-body">
                    <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                        <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
                    </a>
                    <div class="swiper-slide">
                        <div class="" style="text-align:center">
                            <img src="data:image/png;base64,@Model.ResimBase64" style="max-height:500px;" />
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (Model != null && Model.ProfilFotografiMi == true)
        {
            <div class="" style="margin:auto;">
                <div class="modal-body">
                    <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                        <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
                    </a>
                    <div class="swiper-slide">
                        <div class="" style="text-align:center">
                            <img src="data:image/png;base64,@Model.ResimBase64" style="max-height:500px;" />
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="modal-content" style="max-width:120px;max-height:120px;margin:auto;">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                    <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
                </a>
                <img src="/Uploads/Site/user_icon.png" class="avatar" style="max-width:120px;max-height:120px;" />
            </div>
        }
    </div>
</div>
