@using NeSever.Common.Models.Uyelik
@model IEnumerable<NeSever.Common.Models.Uyelik.DuvarResimVM>


<div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="tab-content">

            <div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">
                @foreach (DuvarResimVM item in Model)
                {


                    <div class="choose-photo-item" data-mh="choose-item">
                        <div class="radio">
                            <label class="custom-radio">
                                <img src="data:image/jpg;base64,@item.ResimBase64" alt="photo">
                                <input type="radio" name="optionsRadios" id="radioButton+@item.DuvarResimId.ToString()" value="@item.DuvarResimId"><span class="circle"></span><span class="check"></span>
                            </label>
                        </div>
                    </div>


                }



            </div>
        </div>
    </div>
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <button class="btn btn-secondary btn-lg btn--half-width" style="float:left" onclick="duvarResmiGuncelle();">Duvar Resmi Yap</button>
        <button class="btn btn-primary btn-lg btn--half-width" style="float:left" onclick="Iptal();">İptal</button>


    </div>
</div>

<script type="text/javascript">
    function duvarResmiGuncelle() {
        var resimId = $("input[type='radio']:checked").val();
        $.ajax({
            url: '/Kullanici/DuvarResmiDegistir',
            type: "post",
            data: {
                resimId: resimId
            }
            ,
            success: function (result) {
                $('#choose-from-header-photo').hide();
                Swal.fire({
                    title: 'İşlem Başarılı!',
                    text: "Duvar Resmi Değiştirildi!",
                    icon: 'success',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Kapat'
                }).then((result) => {
                        window.location.href = "../../../Kullanici/Profil";
                });

            },
            error: function () {

            }
        });
    }
    function Iptal() {
        $('#choose-from-header-photo').modal('hide');
    }

  
</script>