@using NeSever.Common.Models.Uyelik
@model List<NeSever.Common.Models.Uyelik.KullaniciResimVM>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            @foreach (KullaniciResimVM item in Model)
            {
                <div class="swiper-slide">
                    <div class="" style="text-align:center">
                        <img src="data:@item.ResimUzanti;base64,@item.ResimBase64" style="max-height:500px;" alt="photo">
                        <div class="overlay"></div>
                        <div class="content">
                        </div>
                    </div>
                    <a href="javascript:;" onclick="ileriGit();"> <svg class="btn-next-without olymp-popup-right-arrow"><use xlink:href="#olymp-popup-right-arrow"></use></svg></a>
                    <br />
                    <a href="javascript:;" onclick="geriGit();">   <svg class="btn-prev-without olymp-popup-left-arrow"><use xlink:href="#olymp-popup-left-arrow"></use></svg></a>
                </div>
            }
        </div>
        <div class="swiper-pagination"></div>
    </div>



<script type="text/javascript">
    var swiper;
    $(document).ready(function () {
        swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            spaceBetween: 30,
        });


        $('#myModal').on('shown.bs.modal', function (e) {
            swiper.update();
            var $invoker = $(e.relatedTarget);
            swiper.slideTo($invoker.data('slider'));
            swiper.update();
        });
    });

    function ileriGit() {
        swiper.slideNext();
    }

    function geriGit() {
        swiper.slidePrev();
    }

</script>

