<div class="ui-block">
    <div class="ui-block-title">
        <h6 class="title">Üyelik Hesabı Kapatma</h6>
    </div>
    <div class="ui-block-content">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-primary" role="alert">
                    Merhaba @ViewBag.kullaniciIsimSoyisim,
                    <br />Hesabını kapatmak istediğini duyduğumuz için üzgünüz.
                    <br />Üyelik hesabınız kapatılmıştır. Artık arkadaşlarınız veya kullanıcılar profilinizi göremeyecektir.
                    <br />İleride tekrar aramıza katılman dileğiyle... Sevgiler...
                </div>
            </div>
            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                <button onclick="HesabimiKapat()" class="btn btn-primary btn-lg full-width">Hesabımı Kapat</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function HesabimiKapat() {

        Swal.fire({
            title: 'Emin misiniz?',
            text: "Hesabınız kapatılacaktır",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Hesabımı Kapat',
            cancelButtonText: "Vazgeç",
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: "/Kullanici/KullaniciHesabiKapat",
                    type: "POST",
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    success: function (response) {                       
                        if (response.Status === "Success") {
                            Swal.fire({
                                icon: 'success',
                                title: 'Başarılı',
                                text: "Hesabınız tekrar giriş yapana kadar kapatıldı.",
                                showConfirmButton: false,
                                timer: 1500
                            }).then(function () {
                                kullaniciCikis();
                            });

                        }
                        else if (response.Status === "session") {
                            location.reload();
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Hata',
                                text: response.Code,
                                timer: 1500
                            })
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log("hata!");
                    }
                });
            }
        })


        
    }

</script>
