@model NeSever.Common.Models.Uyelik.KullaniciAdiVM

<style type="text/css">
    .checkbox .checkbox-material .check {
        border: 1px solid black;
    }
</style>

<div class="ui-block">
    <div class="ui-block-title">
        <h6 class="title">Kullanıcı Adı Değiştir</h6>
    </div>
    <div class="ui-block-content">
        <form id="UyeKullaniciAdiForm" class="content" autocomplete="off">
            <div class="row">
                <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group label-floating">
                        <label class="control-label">Kullanıcı Adı</label>
                        <input id="kullaniciAdi" asp-for="KullaniciAdi" class="form-control">
                    </div>
                    <button class="btn btn-purple btn-lg full-width">Değiştir</button>
                </div>
            </div>
        </form>
    </div>
</div>


        <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                jQuery.validator.addMethod("nospace", function (value, element) {
                    return value.indexOf(" ") < 0 && value != "";
                }, "Boşluk Bırakılamaz");

                jQuery.validator.addMethod("alphanumeric", function (value, element) {
                    return this.optional(element) || /^[\w._]+$/i.test(value);
                }, "Türkçe Karakter İçermeyen Harfler veya Rakamlar Girilebilir");
            })

            $("#UyeKullaniciAdiForm").validate({
                rules: {
                    KullaniciAdi: {
                        required: true,
                        maxlength: 20,
                        minlength: 3,
                        nospace: true,
                        alphanumeric: true,
                    }
                },
                messages: {
                    KullaniciAdi: {
                        required: "Boş Geçilemez",
                        maxlength: "Karakter Sınırı Aşıldı",
                        minlength: "En az 3 karakter olmalı",
                        nospace: "Boşluk Bırakılamaz",
                        alphanumeric: "Türkçe Karakter İçermeyen Harfler veya Rakamlar Girilebilir"
                    }
                },
                submitHandler: function (form) {

                    //var model = $('#UyeKullaniciAdiForm').serializeObject();
                    var kullaniciAdi = $('#kullaniciAdi').val();
                    $.ajax({
                        url: "/Kullanici/KullaniciAdiGuncelle",
                        type: "POST",
                        dataType: 'json',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        data: { kullaniciAdi: kullaniciAdi },
                        success: function (data) {
                            if (data.Type == 2 && data.ErrorMessage == "TurkceKarakter") {
                                Swal.fire({
                                    icon: 'warning',
                                    title: 'Kullanıcı Adı',
                                    text: "Türkçe karakter veya boşluk kullanılamaz.",
                                    confirmButtonText: "Tamam"
                                })
                            }
                            else if (data.Type == 2 && data.ErrorMessage == "MinLength") {
                                Swal.fire({
                                    icon: 'warning',
                                    title: 'Kullanıcı Adı',
                                    text: "En az 3 karakter içermelidir.",
                                    confirmButtonText: "Tamam"
                                })
                            }
                            else if (data.Type == 2 && data.ErrorMessage == "IlkUcKarakter") {
                                Swal.fire({
                                    icon: 'warning',
                                    title: 'Kullanıcı Adı',
                                    text: "İlk 3 karakterde \".\" veya \"_\" kullanılamaz.",
                                    confirmButtonText: "Tamam"
                                })
                            }
                            else if (data.Type == 2 && data.ErrorMessage == "session") {
                                location.reload();
                            }
                            else if (data.Type == 2) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Kullanıcı Adı',
                                    text: "Kullanıcı adı  zaten var.",
                                    confirmButtonText: "Tamam"
                                })
                            }
                            else if (data.Type == 1) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Kullanıcı Adı',
                                    text: "Kullanıcı adı  güncellendi.",
                                    confirmButtonText: "Tamam"
                                }).then((result) => {
                                    if (result.value) {
                                        window.location.href = "/Kullanici/Profil"
                                    }
                                    else {
                                        window.location.href = "/Kullanici/Profil"
                                    }
                                });
                                
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Kullanıcı Adı',
                                text: "Trükçe karakter veya boşluk kullanılamaz.",
                                confirmButtonText: "Tamam"
                            })
                            console.log("hata!");
                        }
                    });
                }
            });
        </script>
