@model NeSever.Common.Models.Uyelik.ArkadasMesajListesiSonuc

<style type="text/css">
    .chat-message-field .notification-event {
        width: 90%;
    }
</style>

@if (Model.MesajListSonuc.Any())
{
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block responsive-flex">
                <div class="ui-block-title">
                    <div class="h6 title">Arkadaşlar <span id="ArkadasSayisi"></span></div>
                    <form class="w-search">
                        <div class="form-group">
                            <select id="ArkadasAra" class="selectpickerArkadasMesajListesi with-ajax" data-live-search="true" data-width="100%"></select>
                            <span class="material-input"></span>
                        </div>
                    </form>
                    @*<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="#olymp-three-dots-icon"></use></svg></a>*@
                </div>
            </div>
        </div>
    </div>
}

<div class="ui-block">
    <div class="ui-block-title">
        <h6 class="title">Mesajlar</h6>
        @*<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="#olymp-three-dots-icon"></use></svg></a>*@
    </div>

    <div class="container">
        <partial name="~/Views/Kullanici/Partials/ArkadasMesajListesiSonuc.cshtml" model="@Model.MesajListSonuc" />
    </div>
</div>

<script src="/Themes/FrontEnd/src/js/libs-init/libs-init.js"></script>

<script type="text/javascript">
    function showLoading() {
        $('#middleContent').loadingModal({ text: 'Lütfen Bekleyin...' });
        $('#middleContent').loadingModal('animation', 'cubeGrid');
    };

    function hideLoading(id) {
        $('#middleContent').loadingModal('destroy');
    };

    //var url = "/Themes/FrontEnd/src/js/mainModified.js";
    //$.getScript(url);
</script>