@model NeSever.Common.Models.Uyelik.KullaniciResimVM

@if (@Model.KullaniciResimList != null)
{
    <form id="_formProfil" enctype="multipart/form-data" method="post">
        <div class="modal fade" id="update-profile-photo" tabindex="-1" role="dialog" aria-labelledby="update-header-photo" aria-hidden="true">
            <div class="modal-dialog window-popup update-header-photo" role="document">
                <div class="modal-content">
                    <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                        <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
                    </a>

                    <div class="modal-header">
                        <h6 class="title">Profil Resmini Değiştir</h6>
                    </div>

                    <div class="modal-body">
                        <div style="float:left;width: 30%">
                            <a href="#" class="upload-photo-item" onclick="profilFotografiSil();" style="float:left;width:100%">
                                <svg class="olymp-close-icon" style="float:left;width:100%"><use xlink:href="#olymp-close-icon"></use></svg>
                                <h6 style="width:100%;">Profil Fotoğrafımı Sil</h6>
                            </a>
                        </div>

                        <div style="float:left;width: 40%">
                            <a href="javascript:;" class="upload-photo-item" id="openFileProfilFotograf" style="float:left;width:100%">
                                <svg class="olymp-computer-icon" style="float:left;width:100%"><use xlink:href="#olymp-computer-icon"></use></svg>
                                <input type="file" name="file" id="fileInputHiddenProfilFotograf" class="inputfile" style="visibility:hidden" onclick="this.value=null" />
                                <h6 style="width:100%">Fotoğraf Yükle</h6>
                                <span>Dosya Dizinini Aç</span>
                            </a>
                        </div>

                        <div id="divButtonProfilFotograf" style="display:none;float:left;width: 40%">
                            <div class="fileinput-new thumbnail" style="height: auto; width:100%; text-align:center;" id="fileInputDivProfilFotograf"></div>
                            <div style="text-align: center;width: 100%;">
                                <button class="btn btn-primary" type="submit"> Yükle</button>
                                <button class="btn btn-secondary" onclick="ProfilFotografIptalEt()">Vazgeç</button>
                            </div>

                        </div>

                        <div id="fotografSecList" style="float:left;width: 30%">
                            @if (@Model.KullaniciResimList.Count() == 0)
                            {
                                <a href="#" class="upload-photo-item" onclick="fotografYok();" style="float:left;width:100%">
                                    <svg class="olymp-photos-icon" style="float:left;width:100%"><use xlink:href="#olymp-photos-icon"></use></svg>

                                    <h6 style="width:100%">Fotoğraflarımdan Seç</h6>
                                </a>
                            }
                            else
                            {
                                <a href="#" class="upload-photo-item" data-toggle="modal" data-target="#choose-from-my-photo" onclick="fotografSec();" style="float:left;width:100%">
                                    <svg class="olymp-photos-icon" style="float:left;width:100%"><use xlink:href="#olymp-photos-icon"></use></svg>

                                    <h6 style="width:100%">Fotoğraflarımdan Seç</h6>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

        <div class="modal fade" id="choose-from-my-photo" tabindex="-1" role="dialog" aria-labelledby="choose-from-my-photo" aria-hidden="true">
            <div class="modal-dialog window-popup choose-from-my-photo" role="document">
                <div class="modal-content">
                    <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                        <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
                    </a>

                    <div class="modal-body" id="fotografListe">

                    </div>
                </div>
            </div>
        </div>



        <script type="text/javascript">
            $("#_formProfil").on("submit", function (e) {
                var formElement = document.querySelector("#_formProfil");
                var file_data = $('#fileInputHiddenProfilFotograf')[0].files[0];

                if (file_data.size > 20971520) {

                    event.preventDefault();
                    Swal.fire({
                        title: 'Boyut Aşımı!',
                        text: '20 MB Büyük Resim Eklenemez',
                        icon: 'warning',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Kapat'
                    });

                }
                else {
                    var form_data = new FormData(formElement);

                    for (var i = 0; i < file_data.length; i++) {
                        form_data.append('file', file_data);
                    }

                    event.preventDefault();
                    $.ajax({
                        url: '/Kullanici/ProfilFotografYukle',
                        type: "Post",
                        cache: false,
                        async: false,
                        contentType: false,
                        processData: false,
                        data: form_data,
                        datatype: 'multipart/form-data',
                        success: function (sonuc) {
                            if (sonuc.Type == 1) {
                                location.reload();
                            }
                            else if (sonuc.Type == 2 && sonuc.ErrorMessage == "session") {
                                location.reload();
                            }
                            else {
                                Swal.fire({
                                    title: 'Hata',
                                    text: 'Profil Resmi Eklenirken Hata Oluştu!',
                                    icon: 'error',
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Kapat'
                                });
                            }
                        },
                        error: function () {
                            alert("hata");
                        }
                    });
                }
            });

            function profilFotografiSil() {

                $.ajax({
                    url: '/Kullanici/KullaniciProfilFotografiVarMi',
                    type: "Get",
                    success: function (sonuc) {
                        if (sonuc.Type == 1) {
                            Swal.fire({
                                title: 'Emin misiniz?',
                                text: 'Profil fotoğrafı kaldırılacak',
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Sil',
                                cancelButtonText: 'Vazgeç'
                            }).then((result) => {
                                if (result.value) {
                                    $.ajax({
                                        url: '/Kullanici/ProfilFotografiSil',
                                        type: "Get",
                                        success: function (sonuc) {
                                            if (sonuc.Type == 1) {
                                                Swal.fire({
                                                    title: 'Başarılı!',
                                                    text: 'Profil fotoğrafı kaldırıldı',
                                                    icon: 'success',
                                                    confirmButtonColor: '#3085d6',
                                                    cancelButtonColor: '#d33',
                                                    confirmButtonText: 'Kapat'
                                                }).then((result) => {
                                                    window.location.href = "../../../Kullanici/Profil";
                                                });;
                                            }
                                            if (sonuc.Type == 2) {
                                                Swal.fire({
                                                    title: 'Uyarı!',
                                                    text: sonuc.ErrorMessage,
                                                    icon: 'warning',
                                                    confirmButtonColor: '#3085d6',
                                                    cancelButtonColor: '#d33',
                                                    confirmButtonText: 'Kapat'
                                                });
                                            }
                                        },
                                        error: function () {
                                            alert("hata");
                                        }
                                    });
                                }
                            });
                        }
                        if (sonuc.Type == 2) {
                            Swal.fire({
                                title: 'Uyarı!',
                                text: sonuc.ErrorMessage,
                                icon: 'warning',
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Kapat'
                            });
                        }
                    },
                    error: function () {
                        alert("hata");
                    }
                });



            }

            var _validFileExtensionss = [".png", ".jpg", ".jpeg", ".gif"];

            function ValidateProfilFotograf(oForm) {
                var arrInputs = $('input#fileInputHiddenProfilFotograf');
                for (var i = 0; i < arrInputs.length; i++) {
                    var oInput = arrInputs[i];
                    if (oInput.type == "file") {
                        var sFileName = oInput.value;
                        if (sFileName.length > 0) {
                            var blnValid = false;
                            for (var j = 0; j < _validFileExtensionss.length; j++) {
                                var sCurExtension = _validFileExtensionss[j];
                                if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                                    blnValid = true;
                                    break;
                                }
                            }

                            if (!blnValid) {
                                Swal.fire({
                                    title: 'Hata!',
                                    text: "Fotoğraf Yüklenemedi ! Lütfen jpg,jpeg,png uzantılı dosyaları yükleyiniz. ",
                                    icon: 'error',
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Kapat'
                                });

                                return false;
                            }
                        }
                    }
                }

                return true;
            }


            $('#openFileProfilFotograf').on('click', function (e) {
                e.stopPropagation();

                $('#fileInputHiddenProfilFotograf')[0].click();
            })

            function openFileProfilFotograf() {
                $('#fileInputHiddenProfilFotograf').trigger('click');
            }

            function ProfilFotografIptalEt() {
                event.preventDefault();

                $('#fileInputDivProfilFotograf').empty();
                $('#divButtonProfilFotograf').css('display', 'none');
                $('#openFileProfilFotograf').css('display', 'block');
            }


            $("#fileInputHiddenProfilFotograf").change(function () {
                var sonuc = ValidateProfilFotograf();
                //var sizeValidation =filevalidationProfilFotograf();
                if (sonuc) { readURLProfilFotograf(this); }
            });

            function readURLProfilFotograf(input) {
                $('#fileInputDivProfilFotograf').empty();
                for (var i = 0; i < input.files.length; i++) {
                    if (input.files[i] && input.files[i]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {

                            $('#fileInputDivProfilFotograf').append('<img  style="max-height:200px;width:100%" src="' + e.target.result + '"></img>');
                        }
                        reader.readAsDataURL(input.files[i]);
                    }

                }
                $('#openFileProfilFotograf').css('display', 'none');
                $('#divButtonProfilFotograf').css('display', 'block');
            }

            function filevalidationProfilFotograf() {
                const fi = document.getElementById('fileInputHiddenProfilFotograf');
                // Check if any file is selected.
                if (fi.files.length > 0) {
                    for (const i = 0; i <= fi.files.length - 1; i++) {

                        const fsize = fi.files.item(i).size;
                        const file = Math.round((fsize / 1024));
                        // The size of the file.
                        if (file >= 2048) {
                            Swal.fire({
                                title: 'Hata!',
                                text: "Fotoğraf Yüklenemedi ! Lütfen dosya boyutu 2MB dan küçük dosya yükleyiniz. ",
                                icon: 'error',
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Kapat'
                            }); return false;
                        }
                        return true;
                    }
                }
            }

            function fotografYok() {
                Swal.fire({
                    title: 'Uyarı!',
                    text: "Galerinizde Hiç Fotoğraf Yok!",
                    icon: 'warning',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Kapat'
                });
            }
        </script>

        }
