@model NeSever.Common.Models.Uyelik.KullaniciGirisVM

<style type="text/css">
    .abcRioButton {
        width: 100% !important;
    }

    .abcRioButtonIcon {
        padding: 15px 0px 15px 10px !important;
    }

    .svg-inline--fa {
        float: left !important;
    }

    .btn-group-lg > .btn, .btn-lg {
        padding: 1rem;
    }
</style>

<div class="registration-login-form" style="padding-left:10px; padding-top:0px; border-radius:5px; min-height: 300px;">
    <div class="title h6">NeSever'e Katıl</div>
    <form id="UyeGirisForm" method="post" class="content">
        <div class="row">
            <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="form-group label-floating">
                    <label class="control-label">E-posta veya Kullanıcı Adı</label>
                    <input asp-for="KullaniciGirisEpostaKullaniciAd" class="form-control">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Şifre</label>
                    <input asp-for="KullaniciGirisSifre" type="password" class="form-control">
                </div>

                <div class="remember">
                    <div class="checkbox">
                        <label>
                            <input name="optionsCheckboxes" type="checkbox">
                            Beni hatırla
                        </label>
                    </div>
                    <a href="javascript:;" class="forgot" data-toggle="modal" data-target="#restore-password">Şifremi unuttum</a>
                </div>

                <button class="btn btn-lg btn-primary full-width">Giriş</button>
                <div class="or"></div>
                <a href="javascript:;" onclick="fbLogin();" class="fb-login-button btn btn-lg bg-facebook full-width btn-icon-left"><i class="fab fa-facebook-f" aria-hidden="true"></i>Facebook</a>
                <a href="javascript:;" id="googleSignInBtn" class="btn btn-lg bg-secondary full-width btn-icon-left"><i class="fab fa-google" aria-hidden="true"></i>Google</a>
                <p>
                    Hesabınız var mı?
                    Yoksa şimdi <a href="javascript:;" data-toggle="modal" data-target="#registration-login-form-popup">kayıt olun!</a>
                </p>
            </div>
        </div>
    </form>
</div>

<script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
<script type="text/javascript">    
    $("#UyeGirisForm").validate({
        rules: {
            KullaniciGirisEpostaKullaniciAd: {
                required: true,
                maxlength: 50
            },
            KullaniciGirisSifre: {
                required: true,
                maxlength: 20
            }
        },
        messages: {
            KullaniciGirisEpostaKullaniciAd: {
                required: "Boş Geçilemez",
                maxlength : "Karakter Sınırı Aşıldı"
            },
            KullaniciGirisSifre: {
                required: "Boş Geçilemez",
                maxlength: "Karakter Sınırı Aşıldı"
            }
        },
        submitHandler: function (form) {
            var model = $('#UyeGirisForm').serializeObject();
            $.ajax({
                url: "/Kullanici/KullaniciGiris",
                type: "POST",
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: model,
                success: function (data) {
                    if (data != null) {
                        if (data.Token != null) {
                            window.location = '@Url.Action("Profil", "Kullanici")';
                        }
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            text: "Kullanıcı bilgileri yanlış",
                            confirmButtonText: "Tamam"
                        })
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("hata!");
                }
            });
        }
    });

    startApp();

    sessionStorage.clear();

     window.fbAsyncInit = function () {
            FB.init({
                appId: '640271859957164',
                cookie: false,
                xfbml: true,
                version: 'v8.0'
            });

         FB.getLoginStatus(function (response) {
             if (response.status !== 'connected') {
                 getFbUserData(false);
             }
             else {
                 getFbUserData(true);
             }
         });
        };

        function fbLogin() {
            FB.login(function (response) {
                if (response.authResponse) {
                    getFbUserData(true);
                }

            }, { scope: 'email'});
        }

        function getFbUserData(isConnected) {
            if (isConnected) {
                if (sessionStorage.getItem("RefreshToken") == null) {
                    FB.api('/me?fields=id,email,name,first_name,last_name,gender,birthday', { locale: 'tr_TR' },
                        function (response) {
                            if (response.email != null) {
                                kullaniciFbGiris(response);
                            }
                        }
                    );
                }
            }
        }

        function kullaniciFbGiris(kullanici) {
            $.ajax({
                url: "/Kullanici/KullaniciFbGiris",
                type: "POST",
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: kullanici,
                success: function (data) {
                   if (data != null) {
                       if (data.Token != null) {
                           sessionStorage.setItem("RefreshToken", data.RefreshToken);
                            window.location = '@Url.Action("Profil", "Kullanici")';
                        }
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Upps',
                            text: "İşleminizi Gerçekleştirirken Bir Hata Oluştu",
                            confirmButtonText: "Tamam"
                        })
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("hata!");
                }
            });
        }

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/tr_TR/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    var googleUser = {};
    function startApp () {
        gapi.load('auth2', function () {

            auth2 = gapi.auth2.init({
                client_id: '126104961000-lsu6luj9pur6gjt6a7fm1ogstv3c9qq8.apps.googleusercontent.com',
                cookiepolicy: 'single_host_origin',
                scope: 'profile'
            });
            attachSignin(document.getElementById('googleSignInBtn'));
        });
    };

    function attachSignin(element) {
        console.log(element.id);
        auth2.attachClickHandler(element, {},
            function (googleUser) {

            var kullanici = {
                  id: googleUser.getBasicProfile().getId(),
                  name: googleUser.getBasicProfile().getGivenName(),
                  lastname : googleUser.getBasicProfile().getFamilyName(),
                  email: googleUser.getBasicProfile().getEmail()
            };

            $.ajax({
                url: "/Kullanici/KullaniciGoogleGiris",
                type: "POST",
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: kullanici,
                success: function (data) {
                   if (data != null) {
                       if (data.Token != null) {
                           sessionStorage.setItem("RefreshToken", data.RefreshToken);
                           sessionStorage.setItem("GoogleGirisMi", true);
                           window.location = '@Url.Action("Profil", "Kullanici")';
                        }
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Upps',
                            text: "İşleminizi Gerçekleştirirken Bir Hata Oluştu",
                            confirmButtonText: "Tamam"
                        })
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("hata!");
                }
            });




            }, function (error) {
                alert(JSON.stringify(error, undefined, 2));
            });
    }

</script>
<script></script>

