@model NeSever.Common.Models.Program.UyelikSozlesmesiVM

<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
    <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
</a>
<div class="modal-header">
    <h6 class="title">Üyelik Sözleşmesi</h6>
</div>
<div class="modal-body">
    @Html.Raw(Model.UyelikSozlesmesi)
</div>