@model IEnumerable<NeSever.Common.Models.Satis.SiparisVM>

<section>
    <div class="container">
        <div class="row">
            @if (Model == null || !Model.Any())
            {
                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-center pb80 pt80 bg-white">
                    <p>
                        <h3>Sipariş bilgisine ulaşılamamıştır.</h3>
                    </p>
                </div>
            }
            else
            {
                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 bg-white">
                    <ul class="table-careers">
                        <li class="head">
                            <span>Siparis No</span>
                            <span>Tarih</span>
                            <span>Sipariş Durumu</span>
                            <span>Ödeme Tutarı</span>
                            <span>Ödeme Tipi</span>
                            <span>&nbsp;</span>
                        </li>

                        @foreach (var siparis in Model)
                        {
                            <li>
                                <span class="position bold">#@siparis.SiparisId</span>
                                <span class="date">@siparis.SiparisTarihi.ToString("dd.MM.yyyy HH:mm")</span>
                                <span class="position bold">-</span>
                                <span class="type bold">@string.Format("{0:N}", siparis.OdenecekTutar)&nbsp;TL</span>
                                <span class="town-place">@siparis.OdemeTipi</span>
                                <span><a href="javascript:;" class="btn btn-primary btn-sm full-width" onclick="siparisDetayGoster('@siparis.SiparisId');">Detay</a></span>
                            </li>
                        }

                    </ul>
                </div>
            }
        </div>
    </div>
</section>

<script type="text/javascript">
      function siparisDetayGoster(id) {
        var popupModalContent = $('#popupModalContent');
          popupModalContent.html('');
          popupModalContent.load('/Sepet/SiparisDetayPartial/' + id, function () {
            var popupModal = $("#popupModal");
            popupModal.modal('show');
        });
    }
</script>