<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
    <div class="container">
        <div class="text-dark order-2 order-md-1 float-right">
            <span class="text-muted font-weight-bold mr-2">@DateTime.Now.Year © </span>
            <a href="/Admin" target="_blank" class="text-dark-75 text-hover-primary">Nesever.Net</a>
        </div>       
    </div>
</div>