@{
    ViewData["Title"] = "Ara";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model NeSever.Common.Models.Sayfa.BlogKategoriAramaVM

<div class="d-flex flex-row flex-column-fluid container">
    <div class="main d-flex flex-column flex-row-fluid">
        <div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
            <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <h5 class="text-dark font-weight-bold my-1 mr-5">Blog Kategori Arama</h5>

                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                            <li class="breadcrumb-item">
                                <a href="/Admin/Icerik" class="text-muted">İçerik</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="Admin/BlogKategori" class="text-muted">Blog Kategori</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/Admin/BlogKategori/Arama" class="text-muted">Arama</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="d-flex align-items-center">
                    <a href="#" class="btn btn-icon btn-circle btn-sm btn-light-success mr-1" data-card-tool="reload" onclick="loadPage()">
                        <i class="ki ki-reload icon-nm"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="content flex-column-fluid" id="kt_content">
            <div class="card card-custom">
                <div class="card-header">
                    <div class="card-title">
                        <span class="card-icon">
                            <i class="flaticon2-delivery-package text-primary"></i>
                        </span>
                        <h3 class="card-label">Filtreleme Kriterleri</h3>
                    </div>
                    <div class="card-toolbar">
                        <div class="dropdown dropdown-inline mr-2">
                          
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                <ul class="navi flex-column navi-hover py-2">
                                    <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">Seçiniz:</li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link">
                                            <span class="navi-icon">
                                                <i class="la la-print"></i>
                                            </span>
                                            <span class="navi-text">Yazdır</span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link">
                                            <span class="navi-icon">
                                                <i class="la la-file-excel-o"></i>
                                            </span>
                                            <span class="navi-text">Excel</span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link">
                                            <span class="navi-icon">
                                                <i class="la la-file-pdf-o"></i>
                                            </span>
                                            <span class="navi-text">PDF</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <a href="/Admin/BlogKategori/Kayit" class="btn btn-primary font-weight-bolder">
                            <span class="svg-icon svg-icon-md">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <circle fill="#000000" cx="9" cy="15" r="6" />
                                        <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                                    </g>
                                </svg>
                            </span>Yeni Kayıt
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <form class="kt-form kt-form--fit mb-15" id="_formAra">
                        <div class="row mb-6">
                            <div class="col-lg-3 mb-lg-0 mb-6">
                                <label>ID:</label> 
                                <input type="text" class="form-control datatable-input" placeholder="" asp-for="BlogKategoriId" />
                            </div>
                      
                            <div class="col-lg-3 mb-lg-0 mb-6">
                                <label>Adı:</label>
                                <input type="text" class="form-control datatable-input" placeholder="" asp-for="BlogKategoriAdi" />
                            </div>
                            <div class="col-lg-3 mb-lg-0 mb-6">
                                <label>Aktif Mi?:</label>
                                <div class="input-group">
                                    <div class="radio-inline">
                                        <label class="radio radio-lg">
                                            <input type="radio"  value="-1" asp-for="AktifMi"  />
                                            <span></span>
                                            Tümü
                                        </label>
                                        <label class="radio radio-lg">
                                            <input type="radio" value="1" asp-for="AktifMi" checked="checked"  id="AktifRadioButton"/>
                                            <span></span>
                                            Aktif
                                        </label>
                                        <label class="radio radio-lg">
                                            <input type="radio" value="0" asp-for="AktifMi" />
                                            <span></span>
                                            Pasif
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-8">
                            <div class="col-lg-12">
                                <button type="button" onclick="javascript: blogKategoriAra();" class="btn btn-primary btn-primary--icon">Ara <i class="la la-search"></i></button>


                                <button class="btn btn-secondary btn-secondary--icon" id="kt_reset" onclick="javascript: temizle();">
                                    <span>
                                        <i class="la la-close"></i>
                                        <span>Temizle</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>

                    <table class="table table-bordered table-hover table-checkable" id="dtArama">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Resim</th>
                                <th>Adı</th>
                                <th>Açıklama </th>
                                <th>Sıra</th>
                                <th>Durum</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Resim</th>
                                <th>Adı</th>
                                <th>Açıklama </th>
                                <th>Sıra</th>
                                <th>Durum</th>
                                <th>İşlemler</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Themes/Admin/dist/assets/plugins/custom/datatables/datatables.bundle.js?v=7.0.5"></script>
    <script src="/Themes/Admin/dist/assets/js/pages/crud/datatables/search-options/advanced-search.js?v=7.0.5"></script>
    <script>

        function blogKategoriGuncelle(blogKategoriId) {

            window.location.href = "../../Admin/BlogKategori/Kayit/" + blogKategoriId;
        }
        function loadPage() {
            location.reload();
        }
        function blogKategoriSil(Id) {
            event.preventDefault();
            var blogKategoriId = Id;

            Swal.fire({
                title: 'Emin misiniz?',
                text: "Blog Kategori silinecek",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sil',
                cancelButtonText: "Vazgeç",
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '/Admin/BlogKategori/BlogKategoriSil',
                        data: { id: blogKategoriId },
                        type: "Post",
                        success: function (result) {
                            $('#dtArama').DataTable().ajax.reload();
                            Swal.fire("İşlem Başarılı!", "Blog kategori silindi!", "success");

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.status);
                            alert(thrownError);
                        }
                    });
                }
            })




        }
        function blogKategoriAra() {

            var sendData = $('#_formAra').serializeObject();
            $('#dtArama').DataTable().destroy();

            var table = $('#dtArama').DataTable({
                processing: true,
                serverSide: true,
                filter: false,
                responsive: true,
                orderMulti: false,
                autoWidth: true,
                ordering: false,
                paging: true,
                //fixedColumns: true,
                //deferRender: true,
                ajax: {

                    url: "/Admin/BlogKategori/Arama",
                    type: "POST",

                    dataType: "json",
                    data: sendData,
                    beforeSend: function () {
                        //showLoading();
                    },
                    complete: function () {
                        //hideLoading();
                    },
                    error: function (error) {
                        //hideLoading();
                        alert(error);
                    }
                },

                columns: [
     
                    { data: 'BlogKategoriId', defaultContent: '' },
                    { data: 'ResimBase64', defaultContent: '' },
                    { data: 'BlogKategoriAdi', defaultContent: '' },
                    { data: 'Aciklama', defaultContent: '' },
                    { data: 'Sira', defaultContent: '' },
                    { data: 'Durum', defaultContent: '' },
                    { data: 'BlogKategoriId', defaultContent: '' },

                ],
                fixedColumns: true,
                columnDefs: [
                    { targets: 0, width: '5%' },
                    {
                        targets: 1, width: '5%', "render": function (data) {

                            if (data != null)
                                return '<img style="max-height:200px;max-width:150px"  src="data:image/png;base64,' + data + '" />';
                            else
                                return '<img src="../../Themes/Admin/design/noimage.png" id="emptyFile" style="max-height:200px;max-width:150px" />';

                        },
                    },
                    { targets: 2, width: '5%' },
                    { targets: 3, width: '5%' },
                    { targets: 4, width: '5%' },
                    { targets: 5, width: '5%' },
                    {
                        targets: 6, responsivePriority: 1, width: "5%", render: function (data) {
                            return "<div class='list-icons'>" +
                                "<a href = '#' style='float:left' data-toggle='tooltip' data-placement='bottom' title='Sil'  onClick='javascript: blogKategoriSil(" + data + "); ' class='btn  btn-icon-only yellow'><i class='la la-remove'></i></a>" +
                                "<a href = '#' style='float:left' data-toggle='tooltip' data-placement='bottom' title='Güncelle'  onClick='javascript: blogKategoriGuncelle(" + data + "); ' class='btn  btn-icon-only yellow'><i class='la la-search'></i></a>" +

                                "</div>";
                        }
                    },

                    //{ targets: 1, width: '10%' },
                ],
                dom: `<'row'<'col-sm-6 text-left'f><'col-sm-6 text-right'B>>
                    <'row'<'col-sm-12'tr>>
                    <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,
                lengthMenu: [[5, 25, 50], [5, 25, 50]],
                buttons: [
                    {
                        extend: 'print',
                        text: 'Yazdır'
                    },
                    {
                        extend: 'excelHtml5',
                        text: 'Excel'
                    },
                    {
                        extend: 'pdfHtml5',
                        text: 'Pdf'
                    }
                ],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json'
                }
            });

        }
        function temizle() {

            $('#BlogKategoriId').val("");
            $('#BlogKategoriAdi').val('Hepsi')
            $('#AktifRadioButton').prop("checked", true);
        


        }

    </script>

}