@model Iyzipay.Request.CreateThreedsPaymentRequest
@{
    ViewData["Title"] = "OdemeCallback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <div class="row">

            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-center pb80 pt80">
                <p>
                    <h3>İşlem Başarılı, Sipariş Sonuç Sayfasına <a href="javascript: yonlendir();">Yönlendiriliyorsunuz.</a></h3>
                </p>
            </div>

        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            window.location = "@Model.ConversationId";
        }, 1000);
    });

    function yonlendir() {
        window.location = "@Model.ConversationId";
    }
</script>
