<style type="text/css">
    #cookieConsent {
        background-color: rgba(20,20,20,0.8);
        min-height: 26px;
        font-size: 14px;
        color: #ccc;
        line-height: 26px;
        padding: 8px 0 8px 30px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
        z-index: 9999;
    }

        #cookieConsent a {
            color: #4B8EE7;
            text-decoration: none;
        }

    #closeCookieConsent {
        float: right;
        display: inline-block;
        cursor: pointer;
        height: 20px;
        width: 20px;
        margin: 0 0 0 0;
        font-weight: bold;
    }

        #closeCookieConsent:hover {
            color: #FFF;
        }

    #cookieConsent a.cookieConsentOK {
        background-color: #F1D600;
        color: #000;
        display: inline-block;
        border-radius: 5px;
        padding: 0 20px;
        cursor: pointer;
        float: right;
        margin: 0 60px 0 10px;
    }

        #cookieConsent a.cookieConsentOK:hover {
            background-color: #E0C91F;
        }
</style>

<div id="cookieConsent">
    <div id="closeCookieConsent">x</div>
    Sizlere daha iyi bir hizmet sunabilmek için sitemizde çerezlerden faydalanıyoruz. Sitemizi kullanmaya devam ederek çerezleri kullanmamıza izin vermiş oluyorsunuz. Daha fazla bilgi için  <a href="/Bilgi/KisiselVerilerinKorunmasi">Çerez Politikası</a> <a class="cookieConsentOK">Anladım</a>
</div>

<script src="~/Themes/FrontEnd/jquery-cookie-master/src/jquery.cookie.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            var cookieConsent = $.cookie('PolicyAccept');
            if (cookieConsent!='true') {
                $("#cookieConsent").fadeIn(200);
            }           
        }, 2000);
        $("#closeCookieConsent, .cookieConsentOK").click(function () {
            $.cookie('PolicyAccept', 'true', { expires: 30 });
            $("#cookieConsent").fadeOut(200);
        });
    });
</script>