@using NeSever.Common.Models.Uyelik;

@{
    KullaniciVM kullaniciBilgileri = new KullaniciVM();

    if (Context.Session.GetString("Kullanici") != null)
    {
        kullaniciBilgileri = Newtonsoft.Json.JsonConvert.DeserializeObject<KullaniciVM>(Context.Session.GetString("KullaniciBilgileri"));
    }

    KullaniciResimVM kullaniciResim = new KullaniciResimVM();

    if (Context.Session.GetString("KullaniciResim") != null)
    {
        kullaniciResim = Newtonsoft.Json.JsonConvert.DeserializeObject<KullaniciResimVM>(Context.Session.GetString("KullaniciResim"));
    }
}

<div class="fixed-sidebar right fixed-sidebar-responsive" id="sidebar-right-responsive">
    <div class="fixed-sidebar-right sidebar--small">
        <a href="#" class="js-sidebar-open">
            <svg class="olymp-menu-icon"><use xlink:href="#olymp-menu-icon"></use></svg>
            <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
        </a>
    </div>

    <div class="fixed-sidebar-right sidebar--large">
        <div class="mCustomScrollbar" data-mcs-theme="dark">
            @if (kullaniciBilgileri != null && !string.IsNullOrEmpty(kullaniciBilgileri.RefreshToken))
            {
                <div class="control-block" style="margin-bottom:15px;">
                    <div class="author-page author vcard inline-items">
                        <div class="author-thumb">
                            <a href="/Kullanici/Profil">
                                @if (kullaniciResim != null && kullaniciResim.ResimBase64 != null)
                                {
                                    <img alt="author" src="data:image/png;base64, @kullaniciResim.ResimBase64" class="avatar" style="max-width:32px; max-height:32px;">
                                }
                                else
                                {
                                    <img alt="author" src="/Uploads/Site/user_icon.png" class="avatar" style="max-width:32px; max-height:32px;">
                                }
                            </a>
                        </div>

                        <a href="/Kullanici/Profil" class="author-name fn">
                            <div class="author-title">
                                @kullaniciBilgileri.KullaniciAdi <svg class="olymp-dropdown-arrow-icon"><use xlink:href="#olymp-dropdown-arrow-icon"></use></svg>
                            </div>
                        </a>

                        <a href="javascript:;" class="author-name fn" onclick="kullaniciCikis();" style="float:right; font-size:12px; color:orangered; padding-top:8px;">ÇIKIŞ</a>
                    </div>
                </div>

                <div class="ui-block-title">
                    <a href="/" class="author-name fn" style="color:black; font-size:11px;">ANASAYFA</a>
                </div>
                @*<div class="ui-block-title">
                    <a href="/Sepet" class="author-name fn" style="color:black; font-size:11px;">ALIŞVERİŞ SEPETİ</a>
                </div>*@
                <div class="ui-block-title">
                    <a href="/Kullanici/Profil" class="author-name fn" style="color:black; font-size:11px;">PROFİL</a>
                </div>
                <div class="ui-block-title">
                    <a href="/Kullanici/Arkadaslar" class="author-name fn" style="color:black; font-size:11px;">ARKADAŞLAR</a>
                </div>
                <div class="ui-block-title">
                    <a href="/Kullanici/Fotograflar" class="author-name fn" style="color:black; font-size:11px;">FOTOĞRAFLAR</a>
                </div>
                <div class="ui-block-title">
                    <a href="/Kullanici/Ayarlar" class="author-name fn" style="color:black; font-size:11px;">AYARLAR</a>
                </div>
                <div class="ui-block-title">

                </div>
            }
        </div>
    </div>
</div>