<div class="modal fade" id="uyeAlisverisModal" tabindex="-1" role="dialog" aria-labelledby="popup-write-rewiev" aria-hidden="true" style="z-index:2000;">
    <div class="modal-dialog window-popup popup-write-rewiev" role="document">
        <div class="modal-content">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
            </a>
            <div class="modal-header">
                <h6 class="title">Alışveriş Sepetine Ekle</h6>
            </div>
            <div id="uyeAlisverisModalBody" class="modal-body">
                <article class="hentry post has-post-thumbnail thumb-full-width private-event">
                    <div class="private-event-head inline-items">
                        <img src="/Uploads/Site/user_icon.png" alt="author">

                        <div class="author-date">
                            <span class="h3 event-title" href="">Henüz giriş yapmadınız.</span>
                            <p>
                                <a class="h4 event-title" href="/Kullanici/Islem">Giriş yapmak için tıklayınız.</a>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-lg-7 col-md-7 col-sm-7 col-7">
                            <img src="/Uploads/Site/no-user.jpg" alt="photo" style="max-width:200px;">
                        </div>
                        <!--<div class="col col-lg-5 col-md-5 col-sm-5 col-5">
                            <div class="event-description">
                                <div class="form-group label-floating is-empty">
                                    <a href="javascript:;" class="post-add-icon inline-items">
                                        <svg class="olymp-heart-icon">
                                            <use xlink:href="#olymp-heart-icon"></use>
                                        </svg>
                                    </a>-->
                                    @*<br />
                                    <br />
                                    <span><span id="hediyeSepetiToplamUrunSayisi"></span> kişinin hediye sepetinde var</span>*@
                                <!--</div>-->
                                <!--<div class="form-group label-floating is-empty">
                                    <a href="#" class="post-add-icon inline-items">
                                        <svg class="olymp-speech-balloon-icon">
                                            <use xlink:href="#olymp-star-icon"></use>
                                        </svg>
                                        <span>1000 <br />kez söz verildi</span>
                                    </a>
                                </div>-->
                            <!--</div>
                        </div>-->
                    </div>
                    <!--<div class="post-additional-info inline-items">
                        <a href="#" class="post-add-icon inline-items">
                            <svg class="olymp-heart-icon">
                                <use xlink:href="#olymp-heart-icon"></use>
                            </svg>
                            <span>1000 <br />hediye sepetinde var</span>
                        </a>

                        <div class="comments-shared">
                            <a href="#" class="post-add-icon inline-items">
                                <svg class="olymp-speech-balloon-icon">
                                    <use xlink:href="#olymp-star-icon"></use>
                                </svg>
                                <span>1000 <br />kez söz verildi</span>
                            </a>
                        </div>
                    </div>-->
                </article>
            </div>
        </div>
    </div>
</div>