@{
    ViewData["Title"] = "Kayit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model NeSever.Common.Models.Icerik.HediyeKartKategoriVM


<div class="d-flex flex-row flex-column-fluid container">
    <div class="main d-flex flex-column flex-row-fluid">
        <div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
            <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <h5 class="text-dark font-weight-bold my-1 mr-5">Hediye Kart Kategori Kayıt</h5>

                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                            <li class="breadcrumb-item">
                                <a href="/Admin/Icerik" class="text-muted">İçerik</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#" class="text-muted">Hediye Kart Kategori</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/Admin/Icerik/HediyeKartKategoriKayit" class="text-muted">Kayit</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <a href="#" class="btn btn-icon btn-circle btn-sm btn-light-success mr-1" data-card-tool="reload" onclick="loadPage()">
                        <i class="ki ki-reload icon-nm"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="content flex-column-fluid" id="kt_content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-custom gutter-b example example-compact">
                        <div class="card-header">
                            <h3 class="card-title">Kayıt Alanları</h3>
                            <div class="card-toolbar">
                                <div class="example-tools justify-content-center">
                                    <span class="example-copy" data-toggle="tooltip" title="" style="visibility:hidden"></span>
                                </div>
                            </div>
                        </div>
                        <form id="_myform" method="post">
                            <input id="hdnHediyeKartKategoriId" type="hidden" value="@Model.HediyeKartKategoriId" />
                            <div class="card-body">
                                <div class="form-group row">

                                    <div class="col-lg-6">
                                        <label><span class="text-danger">* </span>Kategori Adı:</label>
                                        <div class="input-group">
                                            <input asp-for="HediyeKartKategoriAdi" class="form-control" placeholder="" type="text" required />
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-bookmark-o"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label><span class="text-danger">* </span>Kategori Attribute:</label>
                                        <div class="input-group">
                                            <input asp-for="HediyeKartKategoriAttribute" class="form-control" placeholder="" type="text" required />
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-bookmark-o"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-3">
                                        <label>Aktif Mi?:</label>
                                        <div class="input-group">
                                            <input asp-for="AktifMi" data-switch="true" type="checkbox" data-on-color="success" data-off-color="danger" data-on-text="Evet" data-off-text="Hayır" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Sıra:</label>
                                        <div class="input-group">
                                            <input class="form-control" type="number" asp-for="Sira" placeholder="0">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-sort-numeric-down"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>                               

                            </div>

                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-lg-6">
                                        @if (Model.HediyeKartKategoriId > 0)
                                        {
                                            <button id="btnGuncelle" type="submit" class="btn btn-success mr-2">Güncelle</button>
                                        }
                                        else
                                        {
                                            <button id="btnKaydet" type="submit" class="btn btn-primary mr-2">Kaydet</button>
                                        }
                                        <button type="button" class="btn btn-secondary" onclick='location.reload();'>İptal</button>

                                    </div>

                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="/Themes/Admin/dist/assets/plugins/custom/ckeditor/ckeditor-classic.bundle.js?v=7.0.5"></script>
    <script src="/Themes/Admin/dist/assets/js/pages/crud/forms/widgets/bootstrap-switch.js?v=7.0.5"></script>
    <script src="/Themes/Admin/dist/assets/js/pages/crud/forms/widgets/bootstrap-datepicker.js?v=7.0.5"></script>

    <script type="text/javascript">
        FormValidation.formValidation(document.getElementById('_myform'),
            {

                fields: {
                    HediyeKartKategoriAdi: {
                        validators: {
                            notEmpty: {
                                message: 'Zorunlu Alan.'
                            }
                        }
                    },
                    HediyeKartKategoriAttribute: {
                        validators: {
                            notEmpty: {
                                message: 'Zorunlu Alan.'
                            }
                        }
                    },
                },
                plugins: {
                    submitButton: new FormValidation.plugins.SubmitButton(),
                    bootstrap: new FormValidation.plugins.Bootstrap({
                        eleInvalidClass: '',
                        eleValidClass: '',
                    })
                }
            }

        ).on('core.form.valid', function () {
            var data = new FormData($('#_myform')[0]);

            
            data.append('HediyeKartKategoriId', $('#hdnHediyeKartKategoriId').val());
            data.append('AktifMi', $('#AktifMi').prop('checked'));
            $.ajax({
                type: "post",
                url: "/Admin/Icerik/HediyeKartKategoriKayit",
                data: data,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    showLoading('_myform');
                },
                success: function (result) {
                    hideLoading('_myform');


                    if (result.id > 0) {
                        $('#hdnHediyeKartKategoriId').val(result.id);

                        if (result.operation == "insert") {
                            $("#btnKaydet").removeClass('btn-primary');
                            $("#btnKaydet").addClass('btn-success');
                            $("#btnKaydet").html('Güncelle');
                            window.history.pushState("", "", "HediyeKartKategoriKayit/" + result.id);
                        }

                        Swal.fire({
                            icon: 'success',
                            title: 'İşlem Başarılı!',
                            text: '',
                            showCloseButton: true,
                            confirmButtonText: "Tamam",
                            cancelButtonText: "İptal",
                        });
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'İşlem Sırasında Hata Oluştu!',
                            text: '',
                            showCloseButton: true,
                            confirmButtonText: "Tamam",
                            cancelButtonText: "İptal",
                        });
                    }
                },

                error: function (err) {
                    hideLoading('_myform');

                    Swal.fire(
                        "Hata",
                        "İşlem sırasında hata oluştu. " + err,
                        "error"
                    );
                }
            });
        });
                        
        function loadPage() {
            location.reload();
        }
        function showLoading(id) {
            KTApp.block(document.getElementById(id), {
                overlayColor: '#000000',
                state: 'danger',
                message: 'Lütfen bekleyin...'
            });
        };
        function hideLoading(id) {
            KTApp.unblock(document.getElementById(id));
        };       
    </script>
}