@model NeSever.Common.Models.Program.HakkimizdaVM
@{
    ViewData["Title"] = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pt120">
    <div class="container">
        <div class="row mb60">
            <div class="col col-xl-8 col-lg-8 m-auto col-md-12 col-sm-12 col-12">
                <div class="crumina-module crumina-heading align-center">
                    <div class="heading-sup-title">Nesever.com.tr</div>
                    <h2 class="heading-title">HEDİYE KÜLTÜRÜNÜ DEĞİŞTİREN SİTE</h2>
                </div>
            </div>
        </div>

        <div class="info-box-wrap">
            <div class="row">
                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="crumina-module crumina-info-box" data-mh="box--classic">
                        <div class="info-box-content">                     
                            <p class="info-box-text">
                                Hediye alış-verişinin şeklini tamamen değiştiren ve kullanıcılarına yepyeni bir hediye dünyası sunan nesever.com.tr 2020 yılında Ostim Ankara Teknoparkta kurulmuştur.

                                Hediye alma/verme amacıyla sosyal ağ platformu ile e-ticareti aynı dijital ortam üzerinde birleştiren nesever.com.tr, bu özelliği ile  ülkemizde ve Dünya’da bir ilki kullanıcılarının hizmetine sunmaktadır.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="crumina-module crumina-info-box" data-mh="box--classic">
                        <div class="info-box-image">
                            <img src="/Uploads/Site/info3.png" alt="icon">
                        </div>
                        <div class="info-box-content">
                            <h3 class="info-box-title">HEDİYE ALIN</h3>
                            <p class="info-box-text">1) Profilinizi oluşturun.</p>
                            <p class="info-box-text">2) Beğendiğiniz ürünleri hediye sepetinize ekleyin.</p>
                            <p class="info-box-text">3) Sevdikleriniz sizin için alsın.</p>
                        </div>
                    </div>
                </div>

                <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="crumina-module crumina-info-box" data-mh="box--classic">
                        <div class="info-box-image">
                            <img src="/Uploads/Site/info5.png" alt="icon">
                        </div>
                        <div class="info-box-content">
                            <h3 class="info-box-title">HEDİYE GÖNDERİN</h3>
                            <p class="info-box-text">1) Arkadaşınızı bulun.</p>
                            <p class="info-box-text">2) Arkadaşınızın hediye sepetini inceleyin.</p>
                            <p class="info-box-text">3) Beğendiği hediyeyi armağan edin.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>