
@{
    ViewData["Title"] = "HediyeBulunamadi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="medium-padding80">
    <div class="container">
        <div class="row">
            <div class="col col-xl-6 m-auto col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="page-404-content ">
                    <div class="crumina-module crumina-heading align-center">
                        <a href="/" class="btn btn-lg">
                            <img src="/Uploads/Site/logo-black.png" style="max-width:250px; max-height:250px; margin-bottom:0px;" />
                        </a>
                        <h2 class="h1 heading-title">Böyle Bir Hediye <span class="c-primary">Bulunamadı!</span></h2>
                        <a href="/" class="btn btn-primary btn-lg">Anasayfaya Dön</a>
                    </div>                                       
                </div>
            </div>
        </div>
    </div>
</section>