<div class="modal fade" id="popup-write-rewiev" tabindex="-1" role="dialog" aria-labelledby="popup-write-rewiev" aria-hidden="true">
    <div class="modal-dialog window-popup popup-write-rewiev" role="document">
        <div class="modal-content">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
            </a>

            <div class="modal-header">
                <h6 class="title">Yorumun</h6>
            </div>

            <div class="modal-body">
                <form class="form-write-rewiev">
                    <div class="row">
                        <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group label-floating is-select">
                                <label class="control-label">Puan</label>
                                <select class="selectpicker form-control">
                                    <option value="5">5 Yıldız</option>
                                    <option value="4">4 Yıldız</option>
                                    <option value="3">3 Yıldız</option>
                                    <option value="2">2 Yıldız</option>
                                    <option value="1">1 Yıldız</option>
                                </select>
                            </div>

                            <div class="form-group label-floating">
                                <label class="control-label">Başlık</label>
                                <input class="form-control" placeholder="" type="text">
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" placeholder="Yorumunuz onay sürecinin ardından yayına alınacaktır..."></textarea>
                            </div>

                            <a href="#" class="btn btn-primary btn-lg full-width">Yorum Gönder</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>