@{
    ViewData["Title"] = "Ara";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model NeSever.Common.Models.DataAktarim.DataKategoriAramaVM
<div class="d-flex flex-row flex-column-fluid container">
    <div class="main d-flex flex-column flex-row-fluid">
        <div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
            <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <h5 class="text-dark font-weight-bold my-1 mr-5">Data Kategori işlem</h5>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <a href="#" class="btn btn-icon btn-circle btn-sm btn-light-success mr-1" data-card-tool="reload" onclick="loadPage()">
                        <i class="ki ki-reload icon-nm"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="content flex-column-fluid" id="kt_content">
            <div class="card card-custom">
                <div class="card-header">
                    <div class="card-title">
                        <span class="card-icon">
                            <i class="flaticon2-delivery-package text-primary"></i>
                        </span>
                        <h3 class="card-label">Filtreleme Kriterleri</h3>
                    </div>
                    <div class="card-toolbar">
                        <div class="dropdown dropdown-inline mr-2">

                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                <ul class="navi flex-column navi-hover py-2">
                                    <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">Seçiniz:</li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link">
                                            <span class="navi-icon">
                                                <i class="la la-print"></i>
                                            </span>
                                            <span class="navi-text">Yazdır</span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link">
                                            <span class="navi-icon">
                                                <i class="la la-file-excel-o"></i>
                                            </span>
                                            <span class="navi-text">Excel</span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link">
                                            <span class="navi-icon">
                                                <i class="la la-file-pdf-o"></i>
                                            </span>
                                            <span class="navi-text">PDF</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    
                    </div>
                </div>
                <div class="card-body">
                    <form class="kt-form kt-form--fit mb-15" id="_formAra">
                        <div class="row mb-6">
                            <div class="col-lg-3 mb-lg-0 mb-6">
                                <label>ID:</label>

                                <input type="text" class="form-control datatable-input" placeholder="" asp-for="CategoryID" />
                            </div>
                            <div class="col-lg-3 mb-lg-0 mb-6">
                                <label>Web Sitesi:</label>
                                <select asp-for="WebSiteID" asp-items="@(new SelectList(Model.WebSiteListesi,"WebSiteId","WebSiteAdi"))" class="form-control datatable-input">
                                    <option>Hepsi</option>
                                </select>
                            </div>
                            <div class="col-lg-3 mb-lg-0 mb-6">
                                <label>Kategori Adı:</label>
                                <input type="text" class="form-control datatable-input" placeholder="" asp-for="CategoryName" />
                            </div>
                            <div class="col-lg-3 mb-lg-0 mb-6">
                                <div class="col-lg-3 mb-lg-0 mb-6">
                                    <label>Aktif Mi?:</label>
                                    <div class="input-group">
                                        <div class="radio-inline">
                                            <label class="radio radio-lg">
                                                <input type="radio" value="-1" asp-for="IsActive" />
                                                <span></span>
                                                Tümü
                                            </label>
                                            <label class="radio radio-lg">
                                                <input type="radio" value="1" asp-for="IsActive" checked="checked" id="AktifRadioButton" />
                                                <span></span>
                                                Aktif
                                            </label>
                                            <label class="radio radio-lg">
                                                <input type="radio" value="0" asp-for="IsActive" />
                                                <span></span>
                                                Pasif
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-8">



                            <div class="col-lg-12">
                                <button type="button" onclick="javascript: dataKategoriAra();" class="btn btn-primary btn-primary--icon">Ara <i class="la la-search"></i></button>


                                <button class="btn btn-secondary btn-secondary--icon" id="kt_reset" onclick="javascript: temizle();">
                                    <span>
                                        <i class="la la-close"></i>
                                        <span>Temizle</span>
                                    </span>
                                </button>
                            </div>
                        </div>

                        <table id="dtArama" class="table table-bordered table-hover table-checkable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Kategori Adı</th>
                                    <th>Web Sitesi Adı</th>
                                    <th>Original Category ID</th>
                                    <th>Parent Original Category ID</th>
                                    <th>TargetCategoryID / Target Category</th>
                                    <th></th>
                                    <th></th>
                                    <th>Durum</th>
                                    <th></th>


                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Kategori Adı</th>
                                    <th>Web Sitesi Adı</th>
                                    <th>Original Category ID</th>
                                    <th>Parent Original Category ID</th>
                                    <th>TargetCategoryID / Target Category</th>
                                    <th></th>
                                    <th></th>
                                    <th>Durum</th>
                                    <th></th>


                                </tr>
                            </tfoot>
                        </table>
                    </form>
                    <div class="modal fade-in hide" id="myModal" tabindex="-1" aria-hidden="true" style="display: none; padding-right: 17px;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Target Category Güncelle</h4>
                                
                                </div>
                                <div class="modal-body">
                                    <input type="text" name="IdModal" id="IdModal" value="" hidden />
                                    <div class="row mb-12">
                                        <div class="col-lg-12 mb-lg-0 mb-6">
                                            <label>Target Category Id :</label>

                                            <input type="text" name="targetCategoryIdModal" id="targetCategoryIdModal" value="" disabled />
                                        </div>
                                        <div class="col-lg-12 mb-lg-0 mb-6">
                                            <label>Target Catergory :</label>

                                            <input type="text" name="targetCategoryNameModal" id="targetCategoryNameModal" value="" disabled />
                                        </div>
                                    </div>
                                    <div class="row mb-12">
                                        <div class="col-lg-12 mb-lg-0 mb-6">
                                            <label>Güncellenecek Target Kategori:</label>
                                            <select id="KategoriListesi" asp-items="@(new SelectList(Model.KategoriListesi,"KategoriId","KategoriUrunSayisi"))" class="form-control datatable-input">
                                                <option value="-999">Lütfen Seçiniz</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary btn-primary--icon" id="btnKategoriguncelle" onclick="kategoriGuncelle()">Güncelle<i class="la la-save"></i></button>
                                </div>
                            </div>
                                   
                         </div>
                            <!-- /.modal-content -->
                  </div>
                        <!-- /.modal-dialog -->
               
                
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Themes/Admin/dist/assets/plugins/custom/datatables/datatables.bundle.js?v=7.0.5"></script>
    <script>
        function durumGuncelle(durum,categoryId) {
            var guncellenenDurum;
            if (durum == true) {
                guncellenenDurum = false;
            }
            else {
                guncellenenDurum = true;
            }

            $.ajax({
                url: '/Admin/Katalog/DurumGuncelle',
                data: { Id: categoryId, durum: guncellenenDurum },
                traditional: true,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: "Get",
                success: function (result) {
                    $('#myModal').modal('hide');
                    $('#dtArama').DataTable().ajax.reload();
                    Swal.fire("İşlem Başarılı!", "Durum Güncellendi!", "success");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("hata");
                }
            });
        }
        function kategoriGuncelle() {
            if ($('#KategoriListesi').val() == -999) {
                Swal.fire("Hata!", "Lütfen güncellenecek target category seçiniz", "error");
            }
            else {
                var kategoriId = $('#KategoriListesi').val();
                var id = $('#IdModal').val();
                $.ajax({
                    url: '/Admin/Katalog/TargetCategoryGuncelle',
                    data: { Id: id, targetCategoryId: kategoriId },
                    traditional: true,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    type: "Get",
                    success: function (result) {
                        $('#myModal').modal('hide');
                        $('#dtArama').DataTable().ajax.reload();
                        Swal.fire("İşlem Başarılı!", "Target Category Güncellendi!", "success");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert("hata");
                    }
                });
            }
        }
        function openPopUp(id,kategoriId,name) {

            $(".modal-body #IdModal").val(id);
            $(".modal-body #targetCategoryIdModal").val(kategoriId);
            $(".modal-body #targetCategoryNameModal").val(name);
            $('#myModal').modal('show');
        }
    
        function loadPage() {
            location.reload();
        }
       function dataKategoriAra() {
           $('#myModal').modal('hide');
            var sendData = $('#_formAra').serializeObject();
            $('#dtArama').DataTable().destroy();

            var table = $('#dtArama').DataTable({
                processing: true,
                serverSide: true,
                filter: false,
                responsive: true,
                orderMulti: false,
                autoWidth: false,
                ordering: false,
                //fixedColumns: true,
                //deferRender: true,
                ajax: {

                    url: "/Admin/Katalog/KategoriIslem",
                    type:"POST",

                    dataType:"json",
                    data : sendData,
                    beforeSend: function () {
                        //showLoading();
                    },
                    complete: function () {
                        //hideLoading();
                    },
                    error: function (error) {
                        //hideLoading();
                        alert(error);
                    }
                },

                columns: [
                    { data: 'CategoryID', defaultContent: '' },
                    { data: 'CategoryName', defaultContent: '' },
                    { data: 'WebSiteName', defaultContent: '' },
                    { data: 'OriginalCategoryID', defaultContent: '' },
                    { data: 'ParentOriginalCategoryID', defaultContent: '' },
                    { data: 'TargetCategoryID', defaultContent: '' },
                    { data: 'TargetCategoryName', defaultContent: '' },
                    { data: 'Durum', defaultContent: '' },
                    { data: 'CategoryID', defaultContent: '' },
                    { data: 'IsActive', defaultContent: '' },

                ],
                fixedColumns:true,
                columnDefs: [
                    { targets: 0, width: '5%' },
                    { targets: 1, width: '5%' },
                    { targets: 2, width: '5%' },
                    { targets: 3, width: '5%' },
                    { targets: 4, width: '5%' },
                    {
                        targets: 5, responsivePriority: 1, width: "10%", render: function (data, type, row, meta) {
                            {
                                var id = row["CategoryID"];
                                var targetCategoryName = row["TargetCategoryName"].toString();
                                return "<div class='list-icons'>" +
                                    "<label>" + data + "</label>" +"/"+
                                    "<label>" + targetCategoryName + "</label>" +
                                    "<a href = '#' style='float:left' data-toggle='tooltip' data-placement='bottom' title='Güncelle'  onClick='javascript: openPopUp(" + id + ',' + data + ',' + '"' + targetCategoryName + '"' + "); ' class='btn  btn-icon-only yellow'><i class='la la-edit'></i></a>" +


                                    "</div>";
                            }
                        },
                    },
                    { targets: 6, width: '5%',visible: false, },
                    { targets: 7, width: '5%',visible:false },
                    {
                        targets: 8, responsivePriority: 1, width: "10%", render: function (data, type, row, meta) {
                            {
                                var Durum = row["Durum"];
                                var id = row["CategoryID"];
                                var IsActive = row["IsActive"];
                                var render = "<div class='list-icons'>" +
                                    "<label>" + Durum + "</label>" ;
                                if (IsActive == true)
                                    render += "<a href = '#' style='float:left' data-toggle='tooltip' data-placement='bottom' title='Pasife Al'  onClick='javascript: durumGuncelle("+IsActive+"," + data + "); ' class='btn  btn-icon-only yellow'><i class='la la-rotate-left'></i></a>";
                                   else
                                    render += "<a href = '#' style='float:left' data-toggle='tooltip' data-placement='bottom' title='Aktife Al'  onClick='javascript: durumGuncelle(" + IsActive + "," + data + "); ' class='btn  btn-icon-only yellow'><i class='la la-rotate-left'></i></a>";

                                    render += "</div>";

                                return render;
                            }
                        },
                    },
                    { targets: 9, width: '5%', visible: false },

                    //{ targets: 1, width: '10%' },
                ],
                dom: `<'row'<'col-sm-6 text-left'f><'col-sm-6 text-right'B>>
                <'row'<'col-sm-12'tr>>
                <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,
                lengthMenu: [[5, 25, 50], [5, 25, 50]],
                buttons: [
                    {
                        extend: 'print',
                        text: 'Yazdır'
                    },
                    {
                        extend: 'excelHtml5',
                        text: 'Excel'
                    },
                    {
                        extend: 'pdfHtml5',
                        text: 'Pdf'
                    }
                ],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json'
                }
            });

       }
       function temizle() {

           $('#CategoryID').val("");
           $('#WebSiteID').val('');
           $('#AktifRadioButton').prop("checked", true);
           $('#CategoryName').val("");

        }
        $(document).ready(function () {
            $('#myModal').modal('hide');
        });
    </script>

}
