@{
    ViewData["Title"] = "Ara";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <link href="~/Themes/Admin/dist/assets/plugins/custom/jstree/jstree.bundle.css" rel="stylesheet" />
    <div class="d-flex flex-row flex-column-fluid container">
        <div class="main d-flex flex-column flex-row-fluid">
            <div class="card card-custom">
                <div class="card-header">
                    <div class="card-title">
                        <span class="card-icon">
                            <i class="flaticon2-delivery-package text-primary"></i>
                        </span>
                        <h3 class="card-label">Kategoriler</h3>
                    </div>
                </div>
                <div class="card-body">
                   <div id="jstree"></div>
                </div>
            </div>


        </div>
    </div>

    @section Scripts{
        <script src="/Themes/Admin/dist/assets/plugins/custom/datatables/datatables.bundle.js?v=7.0.5"></script>
        <script src="/Themes/Admin/dist/assets/js/pages/crud/datatables/search-options/advanced-search.js?v=7.0.5"></script>
        <script src="/Themes/Admin/dist/assets/plugins/custom/jstree/jstree.bundle.js"></script>
        <script>

        $(function () {
            $('#jstree').on('changed.jstree', function (e, data) {
                var i, j;
                var postedItems = [];
                for(i = 0, j = data.selected.length; i < j; i++) {

                    //Fetch the Id.
                    var id = data.selected[i];

                    //Remove the ParentId.
                    if(id.indexOf('-') != -1){
                        id = id.split("-")[1];
                    }

                    //Add the Node to the JSON Array.
                    postedItems.push({
                        text: data.instance.get_node(data.selected[i]).text,
                        id: id,
                        parent: data.node.parents[0]
                    });
                }

                //Serialize the JSON Array and save in HiddenField.
                $('#selectedItems').val(JSON.stringify(postedItems));
            }).jstree({
                "core": {
                    "themes": {
                        "variant": "large"
                    },
                    "data": @Html.Raw(ViewBag.Json)
                    },
             
                
            });
        });
     
        </script>
    }