@{
    ViewData["Title"] = "Ara";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using Microsoft.Extensions.Logging
@model NeSever.Common.Models.Program.LogAramaVM

<div class="d-flex flex-row flex-column-fluid container">
    <div class="main d-flex flex-column flex-row-fluid">
        <div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
            <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <h5 class="text-dark font-weight-bold my-1 mr-5">Log Arama</h5>

                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                            <li class="breadcrumb-item">
                                <a href="Admin/Sistem" class="text-muted">Sistem</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/Admin/Sistem/ProgramLog" class="text-muted">Program Log</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <a href="#" class="btn btn-icon btn-circle btn-sm btn-light-success mr-1" data-card-tool="reload" onclick="loadPage()">
                        <i class="ki ki-reload icon-nm"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="content flex-column-fluid" id="kt_content">
            <div class="card card-custom">
                <div class="card-header">
                    <div class="card-title">
                        <span class="card-icon">
                            <i class="flaticon2-delivery-package text-primary"></i>
                        </span>
                        <h3 class="card-label">Filtreleme Kriterleri</h3>
                    </div>
                    <div class="card-toolbar">
                        <div class="dropdown dropdown-inline mr-2">

                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                <ul class="navi flex-column navi-hover py-2">
                                    <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">Seçiniz:</li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link">
                                            <span class="navi-icon">
                                                <i class="la la-print"></i>
                                            </span>
                                            <span class="navi-text">Yazdır</span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link">
                                            <span class="navi-icon">
                                                <i class="la la-file-excel-o"></i>
                                            </span>
                                            <span class="navi-text">Excel</span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link">
                                            <span class="navi-icon">
                                                <i class="la la-file-pdf-o"></i>
                                            </span>
                                            <span class="navi-text">PDF</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                     
                    </div>
                </div>
                <div class="card-body">
                    <form class="kt-form kt-form--fit mb-15" id="_formAra">
                        <div class="row mb-6">
                            <div class="col-lg-3 mb-lg-0 mb-6">
                                <label>ID:</label>
                                <input type="text" class="form-control datatable-input" placeholder="" asp-for="Id" />
                            </div>
                            <div class="col-lg-3 mb-lg-0 mb-6">
                                <label>Level Tip:</label>
                                <select class="form-control datatable-input" asp-for="LevelId"  asp-items="@Html.GetEnumSelectList<LogLevel>()" >
                                    <option value="">Tümü</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-8">
                            <div class="col-lg-12">
                                <button type="button" onclick="javascript: logAra();" class="btn btn-primary btn-primary--icon">Ara <i class="la la-search"></i></button>
       
                            </div>
                        </div>
                    </form>

                    <table class="table table-bordered table-hover table-checkable" id="dtArama">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Message</th>
                                <th>MessageTemplate</th>
                                <th>Level</th>
                                <th>TimeStamp</th>
                                <th>Exception</th>
                                <th>Properties</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Message</th>
                                <th>MessageTemplate</th>
                                <th>Level</th>
                                <th>TimeStamp</th>
                                <th>Exception</th>
                                <th>Properties</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Themes/Admin/dist/assets/plugins/custom/datatables/datatables.bundle.js?v=7.0.5"></script>
    <script src="/Themes/Admin/dist/assets/js/pages/crud/datatables/search-options/advanced-search.js?v=7.0.5"></script>
    <script>


        function loadPage() {
            location.reload();
        }

        function logAra() {

            var sendData = $('#_formAra').serializeObject();
            $('#dtArama').DataTable().destroy();

            var table = $('#dtArama').DataTable({
                processing: true,
                serverSide: true,
                filter: false,
                responsive: true,
                orderMulti: false,
                autoWidth: false,
                ordering: false,
                //fixedColumns: true,
                //deferRender: true,
                ajax: {

                    url: "/Admin/Sistem/LogArama",
                    type: "POST",

                    dataType: "json",
                    data: sendData,
                    beforeSend: function () {
                        showLoading('dtArama');
                    },
                    complete: function () {
                        hideLoading('dtArama');
                    },
                    error: function (error) {
                        hideLoading('dtArama');
                        Swal.fire(
                            "Hata",
                            "İşlem sırasında hata oluştu. " + error,
                            "error"
                        );
                    }
                },

                columns: [

                    { data: 'Id', defaultContent: '' },
                    { data: 'Message', defaultContent: '' },
                    { data: 'MessageTemplate', defaultContent: '' },
                    { data: 'Level', defaultContent: '' },
                    { data: 'TimeStamp', defaultContent: '' },
                    { data: 'Exception', defaultContent: '' },
                    { data: 'Properties', defaultContent: '' },


                ],
                fixedColumns: true,
                columnDefs: [
                    { targets: 0, width: '5%' },     
                    { targets: 1, width: '5%' },
                    { targets: 2, width: '5%' },
                    { targets: 3, width: '5%' },
                    { targets: 4, width: '5%' },
                    { targets: 5, width: '5%' },
                    { targets: 6, width: '5%' },

                ],
                dom: `<'row'<'col-sm-6 text-left'f><'col-sm-6 text-right'B>>
                    <'row'<'col-sm-12'tr>>
                    <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,
                lengthMenu: [[5, 25, 50], [5, 25, 50]],
                buttons: [
                    {
                        extend: 'print',
                        text: 'Yazdır'
                    },
                    {
                        extend: 'excelHtml5',
                        text: 'Excel'
                    },
                    {
                        extend: 'pdfHtml5',
                        text: 'Pdf'
                    }
                ],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json'
                }
            });

        }

        function showLoading(id) {
            KTApp.block(document.getElementById(id), {
                overlayColor: '#000000',
                state: 'danger',
                message: 'Lütfen bekleyin...'
            });
        };

        function hideLoading(id) {
            KTApp.unblock(document.getElementById(id));
        };

    </script>

}

