
<!-- Contacts -->

<div class="widget w-contacts">
	<!-- Leaflet map -->

	<div class="section">
		<div id="map"></div>
	</div>

	<!-- End Leaflet map -->

	<ul>
		<li>
			<span class="title">Address:</span>
			<span class="text">Fake Street 320, San Francisco California, USA.
							</span>
		</li>
		<li>
			<span class="title">Working Hours:</span>
			<span class="text">Mon-Fri 9:00am to 6:00pm
								Weekends 10:00am to 8:00pm
							</span>
		</li>
	</ul>
</div>

<!-- ... end Contacts -->